.user_main_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.user_main_page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 2rem;
  width: 50vw;
  min-height: 100vh;
  margin-top: 70px;
  background-color: #f4f5f8;
}
